<h2 class="subtitle">Start a Voting Session</h1>

<%= form_with model: @session, local: true do |f| %>
  <div class="form-group">
    <%= f.label :session_name, "Session Name" %>
    <%= f.text_field :session_name, class: "form-control" %>
  </div>

  <%= f.submit "Create Session", class: "btn btn-primary" %>
<% end %>