/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

.poster-container {
    width: 200px;
    img {
        width: 100%;
    }
}

.rating-icon {
    width: 20px
}

.movie-divider {
    margin: 12px 0 12px 0 !important;
}

.poster.column {
    min-width: 260px;
}

.new-session-form, .input {
    max-width: 300px;
}

.index-poster-container {
    max-width: 150px;
}

.landing-logo {
    max-width: 300px;
}