<nav class="navbar is-warning" role="navigation" aria-label="main navigation" data-controller="navbar">
  <div class="navbar-brand">
    <%= link_to root_path, class: "navbar-item", alt: "Voterr Logo" do %>
      <%= image_tag("voterr_logo.svg", alt: "Voterr Logo") %>
    <% end %>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-action="click->navbar#toggleMenu" data-navbar-target="burger">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbar" class="navbar-menu" data-navbar-target="menu">
    <div class="navbar-start">
      <!-- Add your navbar start items here -->
      <%= link_to "About", about_path, class: "navbar-item" %>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support me on Ko-fi', '#000000', 'Q5Q6138HD6');kofiwidget2.draw();</script> 
          <% if current_user %>
            <%= button_to "Logout", logout_path, method: :delete, data: { turbo: false, confirm: "Are you sure you want to log out?" }, class: "button" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>