<nav class="navbar is-warning" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to root_path, class: "navbar-item", alt: "Voterr Logo" do %>
        <%= image_tag("voterr_logo.svg", alt: "Voterr Logo") %>
    <% end%>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
            <% if current_user %>
                <%= button_to "Logout", logout_path, method: :delete, data: { turbo: false, confirm: "Are you sure you want to log out?" }, class: "button" %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>